// ===========================================================================
// BREAKPOINT VARIABLES
// ===========================================================================

$bp-mobile: '600px';
$bp-tablet: '1000px';
$bp-menu-collapse: '1000px';
$bp-tablet-landscape: '1280px';
$bp-laptop: '1280px';
$bp-desktop: '1280px';
