// ===========================================================================
// WEB
// ===========================================================================

$content-width: 1280px;
$section-padding: 80px 16px;
$section-padding-mobile: 40px 16px;
$grid-gap: 16px;
$grid-gap-mobile: 8px;
