@import '../abstracts';

// ===========================================================================
// INPUT FIELDS
// ===========================================================================
/*Change text in autofill textbox*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px lighten($c-background-secondary, 25%) inset;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.text-danger {
  color: red !important;
}

input {
  border: 1px solid #d0d5dd;
  padding: 0 1em;
  background-color: $c-white;
  color: $c-text;

  &.background {
    background-color: $c-white;
    color: $c-text;
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
    }
  }

  &:focus-visible {
    outline: none;
    border: 2px solid $c-primary;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }

  border-radius: none !important;
  height: 3em !important;
}

textarea {
  padding: 10px;
  border: 1px solid #d0d5dd;
  height: 8em !important;
  background-color: $c-white;
  color: $c-text;

  &:focus-visible {
    outline: none;
    border: 2px solid $c-primary;
  }

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }
  border-radius: none !important;
}

input[type='text'] {
}
input[type='file'] {
}
input[type='email'] {
}
input[type='number'] {
}
input[type='date'] {
}

.OptInPrivacy-input {
  > label {
    display: none;
  }
}

.ui-checkbox-container,
.checkbox {
  position: relative;
  label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: unset;
    a {
      font-weight: 700;
    }

    input[type='checkbox'] {
      display: none;
    }
    span {
      margin: 0;
      margin-left: 25px;
      padding: 10px 0;
    }

    span::before,
    span::after {
      position: absolute;
      content: '';
      display: inline-block;
    }

    //outer box
    span::before {
      height: 15px;
      width: 15px;
      background-color: white;
      border: 1px solid $c-primary;
      border-radius: 4px;
      left: 0px;
      margin-top: 3px;
    }

    /*Checkmark of checkbox*/
    span::after {
      height: 3px;
      width: 10px;
      border-left: 2px solid $c-primary;
      border-bottom: 2px solid $c-primary;
      color: $c-primary;
      transform: rotate(-45deg);
      left: 3px;
      top: 8px;
    }

    /*Hide the checkmark by default*/
    input[type='checkbox'] + span::after {
      content: none;
    }

    /*Hide the checkmark by default*/
    input[type='checkbox']:checked + span::before {
      content: '';
      background-color: white;
      border: 1px solid $c-primary;
    }

    /*Unhide on the checked state*/
    input[type='checkbox']:checked + span::after {
      content: '';
    }
  }
}

.field-radio-group {
  display: flex;
  gap: $grid-gap;

  label {
    cursor: pointer;

    > span {
      margin-left: 5px;
      display: flex;
      align-items: center;

      > span {
        position: relative;
      }

      > span::before,
      > span::after {
        content: '';
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: $c-primary;
        border: none;
        border-radius: 10px;
        position: absolute;
      }
      > span::before {
        height: 14px;
        width: 14px;
        background-color: white;
        border: 1px solid $c-text;
        border-radius: 10px;
        left: -18px;
      }
      input[type='radio'] {
        opacity: 0;
      }
      input[type='radio'] + span::after {
        content: none;
      }
      input[type='radio']:checked + span::after {
        content: '';
        top: 3px;
        left: -15px;
      }
      input[type='radio']:checked + span::before {
        content: '';
        background-color: white;
        border: 1px solid $c-primary;
      }
    }
  }
}
